.port__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 6rem;
}

.port__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.port__navbar-links_logo {
  margin-right: 1rem;
  cursor: pointer;
}

.port__navbar-links_logo img {
  width: 111px;
  height: 99px;
}

.port__navbar-links_container {
  display: flex;
  flex-direction: row;
}

.port__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.port__navbar-links_container p,
.port__navbar-sign p,
.port__navbar-menu_container p {
  color: #000;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;

  margin: 0 1rem;
  cursor: pointer;
}

.port__navbar-menu {
  margin-left: 1rem;

  display: none;
  position: relative;
}

.port__navbar-menu png {
  cursor: pointer;
}

.port__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  text-align: end;
  background-color: aliceblue;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 40px;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(241, 237, 237);
}

.port__navbar-menu_container p {
  margin: 1rem 0;
}

.port__navbar-menu_container-links-sign {
  display: none;
}

/* @media screen and (max-width: 1050px) {
  .port__navbar-links_container {
    display: true;
  }

  .port__navbar-menu {
    display: flex;
  }
} */

@media screen and (max-width: 700px) {
  /* .port__navbar {
    padding: 2rem 4rem;
  } */
  .port__navbar-links_container {
    display: none;
  }

  .port__navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 550px) {
  .port__navbar {
    padding: 2rem;
  }

  .port__navbar-sign {
    display: none;
  }

  .port__navbar-menu_container {
    top: 20px;
  }
}
